* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    padding-top: 60px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-family: 'Montserrat', sans-serif;

}

/****************************
    navigation styles
*/


nav {

    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #3D4453;
    border-bottom: 1px solid #3D4453;
}



nav ul {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

nav li {
    text-decoration: none;
    display: inline;
}


nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 40px;
    color: #3D4453;

}

nav a:hover {

    background-color: rgba(247, 111, 188, .09);
    color: black;
}


/***********************
    end nav
*/


header {


    height: 60px;
    background-color: #3D4453;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

header h1 {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

aside {
    width: 29%;
    float: left;
    height: 400px;
    margin-right: 1%;
    background-color: #fff;
    overflow: scroll;
}


aside h1 {
    /*    background-color: aqua;*/
    margin-bottom: 10px;
    color: #3D4453;
    text-align: left;
}

aside p {
    font-size: 16px;
    text-align: left;
    color: #3D4453;

}

article {
    width: 70%;
    float: right;
    height: 400px;
    margin-bottom: 10px;
    display: flex;
}


/***********************
    start footer
*/


footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: #3D4453;
}

footer ul {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

footer li {
    text-decoration: none;
    display: inline;


}

footer a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    margin-top: 45px;
    padding: 0px 70px;
    color: #fff;

}

footer.copyright p {
    font-size: 10px;
    color: #fff;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding-left: 20px;

}



/***********************
    end footer
*/


.responsive-image {
    width: 1200px;
    max-width: 100%;
    min-height: 400px;
    max-height: 400px;

}

article.rightBox img {

    width: 100%;
}

article.leftBox img {

    width: 100%;
}

article.leftBox {

    width: 70%;
    float: left;
    height: 138px;
}


article.rightBox {
    margin-bottom: 120px;
    width: 28.9%;
    float: right;
    height: 138px;
}
ul.a  {
    text-align:justify;
    list-style: circle;
    color: aqua;
   
}





















