@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



body {
    height: 100%;
    width: 100%;
    font-family: 'poppins',sans-serif;

    /*    font-family: 'Raleway', sans-serif;*/
    color: #012121;


}

.navbar {
    padding: .8rem;

}

.navbar-nav li {
    padding-right: 100px;
}
.nav-link {
    font-size: 1.3em !important;
}



.carousel-inner img {
    width: 100%;
    height: 100%;

}
.carousel-caption {
    position: absolute;
    bottom: 3%

}
.carousel-caption h1 {
    /*    text-shadow: 1px 1px 1px #707070;*/
    font-size: 62px;
}
.carousel-caption h2 {
    /*    text-shadow: 1px 1px 1px #707070;*/
    font-size: 38px;
    margin-left: 129px;
}

.red {color:#FF2700;}
.pink {color:#FDE5E0;}






.display-2  {
    text-align: center;
    font-size: 45px;
    padding-top: 100px;
    line-height: 3rem;
}

.col-lg-6 {
    padding-left: 3rem;

}
.col-lg-6 p {
    padding-top: 10rem;


}

.col-lg-6 h3 {

    font-size: 2rem;
    line-height: 5rem;
}

hr.light   {
    border-top:1px solid #707070; 
    width: 75%
}
hr.light-100 {
    border-top:1px solid #707070;
    width: 100%;
}
.artist-base {
    border-color:#707070;
    width: 97%;
}


.btn {
    float: right;
    position: relative;
    z-index: 5;
    margin-right: 30px;
    margin-top: 2rem;
}

.container-fluid-padding {
    padding: 3rem;

}
.social a {
    font-size: 1.5em;
    padding: 1rem;

}


.col-12 h2 {

    padding-bottom: .5rem;

}
.fa-facebook {
    color: #3b5998;

}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #517fa8;
}
.fa-youtube {
    color: #bb0000;
}


.fa-facebook:hover, 
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}
footer {

    font-size: 14px;   
    background-color: #012121;
    color: #FDE5E0;
    padding-top:2rem;

}
.col-12 h5 {
    
    padding-bottom: .8rem;
}


/*tickets-css*/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}


input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}





/*schedule-css*/

#customers {

    border-collapse: collapse;
    width: 100%;


}
.schedule  {



    background-image: url(img/f6.jpg);
    background-size: cover;
    background-position: center;
    padding: 13em 0;
    background-attachment: fixed;

}

#customers td, #customers th {
    border: 0px solid #ddd;
    padding: 15px;
    padding-left: 100px;

}

#customers tr:nth-child(even){background-color: #F9F5F5;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #012121;
    color: white;
}




.gallery-block .heading{margin-bottom: 50px; text-align: center;}
.gallery-block .heading{ font-weight: bold; font-size: 1.4rem;  color:#012121; }
.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0px;
    background: black;
    opacity: 1;

}
.gallery-block.compact-gallery .item .images{
    transition: 0.8s ease;

}
.gallery-block.compact-gallery .item .info{
    position: relative;
    display: inline-block;
}
.gallery-block.compact-gallery .item .description{
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39)); 
}
.gallery-block.compact-gallery .item .description .description-heading{
    font-size: 1em;
    font-weight: normal;

}


span.price {
    float: right;
    color: grey;
}









/*Jumbotron Parallax*/
/*Artist-Page-css*/

.artist-hero parallax--bg {

    padding-bottom: 20px;
}



.gallery-block{
    padding-bottom:120px;
    padding-top: 100px;
    background-image: linear-gradient(
        to bottom, 
        rgba( 0, 0, 0, .3),
        rgba( 0, 0, 0, 1)),
        url(img/f2.jpg);



    background-color:  rgba(1, 33, 33, 0.53);


}



.artist-hero {

    background-image: url(img/womanFacePaint);
    background-size: cover;
    background-position: center;
    padding: 3em 0;

}



.artist-textbox {

    color: #FDE5E0;
    padding: 2rem;

    margin-left: 3rem;
    width:  30vw;
    /*    outline: 2px solid #FDE5E0;*/

}
.artist-textbox h1 {

    font-weight: 300;
    font-size: 3rem;
    padding-bottom: 2rem;
}



h1 {
    color:#FDE5E0;
    font-weight: 400; }

figure {
    margin: auto; 

}





/*Vendor-css*/

.content {
    position: relative;
    background: white;
    margin-bottom: 25px;
    overflow: hidden; }
.content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center; }
.content article h1{
    color:#012121;
    font-weight: 400;
}
.heading h1 {
    color:#012121;
    font-weight: 400;
    font-size: 3rem;

    padding-bottom: 3rem;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;

}

img {
    max-width: 100%; 
}



.vendor-pics {
    margin-bottom: 100px; }
.vendor-pics figure {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer; }
.vendor-pics figure.is-showing {
    opacity: 1;
    transform: translateX(0px); }
.vendor-pics figure img {
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out; }
.vendor-pics figure:hover figcaption {
    left: 0%; }
.vendor-pics figure:hover img {
    transform: scale(1.1); }
.vendor-pics figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; }



.large-window {
    height: 640px;
    background-image: url(img-vendors/55Bar.jpg);
    background-position: center 0px;
    background-repeat: repeat-y;
    
    background-attachment: fixed;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative; }
.large-window .window-tint {
     background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    
    justify-content: center;
     align-items: center;
    opacity: 0; }
.large-window .promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2; }
.large-window .promo-text strong {
     display: block;
    font-size: 30px; }

.large-window .promo-text span {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6); }
.large-window .promo-text .window-cta {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out; }

.large-window .promo-text .window-cta:hover {
    background: white;
    color: black; }

.map-hero {

    padding-bottom: 10rem;
}





/*---Media Queries --*/



/*min-width:320px*/
@media(min-width:320px){


    .schedule {
        height: 100vh;
    }

    .artist-hero {
        height: 100vh;

    }


    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }
    .gallery-block.compact-gallery .item .description {
        opacity: 1;
    }
    .gallery-block .zoom-on-hover:hover .image{
        transform: scale(1.3);
        transition-duration: 1.5s;
        opacity: 0.5;
    }



    .carousel-caption h1 {
        top: 30%;
        font-size: 90px;
    }
    .carousel-caption h2 {

        top: 30%;
        font-size: 50px;
    }
}


@media (max-width: 768px) {

    .artist-textbox {
        color: #FDE5E0;
        padding: 1rem;

        margin-left: 3rem;
        width:  80vw;
        /*        outline: 2px solid #FDE5E0;*/

    }
}


/* For devices larger than 576px */
@media (min-width: 576px) {
    .container {
        width: 80%; }


    .four.columns {
        width: 30.6666666667%; }

    .vendor-pics figcaption {
        position: absolute;
        bottom: 10px;
        left:-100%;
        background: black;
        color: white;
        padding: 2px 8px;
        font-size: 11px;
        transition: all 0.3s ease-in-out; }


}


/*576px-and-under*/

@media (max-width: 576px) {

    .vendor-pics figcaption {
        position: absolute;
        bottom: 10px;
        left:-100%;
        background: black;
        color: white;
        padding: 2px 8px;
        margin-left: 12px;
        font-size: 11px;
        transition: all 0.3s ease-in-out; }

    .col-lg-6 {
        padding-left: 1rem;

    }
    .col-lg-6 p {
        padding-top: 8rem;
    }

    .carousel-caption h1 {
        top: 20%;
        font-size: 60px;
    }
    .carousel-caption h2 {

        top: 30%;
        font-size: 30px;
    }


    .display-2 {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 100px;
    }

    .h3 {

        font-size: 25px;
    }
    .col-lg-6 h3 {

        font-size: 1.5rem;
        line-height: 5rem;
    }
    
    .col-12 h5 {
    font-size: .9rem;
    padding-bottom: .8rem;
}





}

/*Large (lg) devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .navbar {
        padding: .8rem;

    }

    .navbar-nav li {
        padding: 20px;
    }
    .nav-link {
        font-size: 1.3em !important;
    }

}
@media (max-width: 320px){

    .carousel-caption h1 {
        top: 20%;
        font-size: 40px;
    }
    .carousel-caption h2 {

        top: 30%;
        font-size: 22px;
    }  
    
    


}



/*
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) 

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) 

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) 

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
