
* {
    box-sizing: border-box;
    margin: 0;
}

.featured-image img {
   
 
    display: block;
    min-width: 300px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    
}

.featured-image {
    
    margin: 1em 0;
}
.image-caption {
    font-size: 80%;
    padding: .7em 1em;
    background: hsl(0, 0%, 25%);
}