/*
pics listed below (Pexels.com)
Photo by rawpixel.com from Pexels
Photo by Sebastian Ervi from Pexels
Photo by anna-m. w. from Pexels
Photo by Brett Sayles from Pexels
Photo by mikky koopac from Pexels
Photo by Tom Fisk from Pexels
Photo by Wendy Wei from Pexels
Photo by Mantas Hesthaven from Pexels
*/

/*-----------------------------------------
MAIN STYLES
------------------------------------------*/

/* Opacity Colors*/

:root {
  --overlay-color: rgba(20, 7, 13, 0.35);
  --imgOpacity: rgba(20, 7, 13, 0.6);
  --gold-text: rgb(176, 160, 142);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 1em;
  color: #b0a08e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7em;
  letter-spacing: 2.8px;
  font-family: "Asap", sans-serif;
}

p {
  margin: 1.5em;
}

.btn {
  display: inline-block;
  border: none;
  background: black;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/*-----------------------------------------
END MAIN MAIN STYLES
------------------------------------------*/

/****************************
Master grid HOME PAGE
*****************************/

.site {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "showcase"
    "main-content"
    "loginbox"
    "streaming"
    "sidebar"
    "footer-content";
}

.showcase {
  grid-area: showcase;
  color: #fff;
  height: 100vh;
  position: relative;
  /* background: var(--showcase-color); */
}

.showcase:before {
  content: "";
  background: url("../images/showcase-2.jpg") center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 3.9em;
  color: var(--gold-text);
}

.showcase h2 {
  margin-top: 1em;
  color: var(--gold-text);
}

.main-content {
  grid-area: main-content;
  grid-gap: 1em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* background-color: aliceblue; */
}

.loginbox {
  grid-area: loginbox;
  background: url(../images/SC.png);
  padding: 4em;
  font-size: 0.9em;
  /* border: #B0A08E solid .5px; */
}

.loginbox h1 {
  text-align: center;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #fff;
}

.loginbox input {
  width: 100%;
  margin-bottom: 15px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 0.5px solid#888;
  background: transparent;
  outline: none;
  /* height: 40px; */
  color: #fff;
  font-size: 0.8em;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 2em;
  background: var(--gold-text);
  font-size: 0.9em;
  border-radius: 7px;
  color: #000;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: transparent;
  border: #b0a08e 1px solid;
  color: #fff;
}

.loginbox a {
  text-decoration: none;
  font-size: 0.8em;
  color: #0052bb;
}

.loginbox a:hover {
  color: #888;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: url("../images/SC.png");
  padding-bottom: 1em;
  /* border-top: #fff solid 1px; */
}

.sidebar h2 {
  color: var(--gold-text);
  margin: 2em;
}

.sidebar p {
  color: #fff;
}

.streaming {
  grid-area: streaming;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em;
}

.button {
  background: transparent;
  width: 30%;
  padding: 5px 13px;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: transparent;
  border-radius: 2px;
  text-align: cent;
}

.btn1,
.btn2 {
  color: #b0a08e;
}

.btn3,
.btn4 {
  color: #b0a08e;
}

.btn1:hover,
.btn2:hover {
  color: #000;
  opacity: 0.7;
  transition: 1s ease;
  border: #b0a08e solid 1px;
}

.btn3:hover,
.btn4:hover {
  color: #000;
  opacity: 0.7;
  transition: 1s ease;
  border: #b0a08e solid 1px;
}

.footer-content {
  grid-area: footer-content;
  background: url("../images/SC.png");
}

.footer-content p {
  font-size: 10px;
  text-align: center;
}

.footer-items ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em;
  list-style-type: none;
}

.footer-content ul {
  list-style-type: none;
}

.footer-content ul li a:hover {
  color: #000;
  opacity: 0.7;
  transition: 1s ease;
}

.footer-content ul li a {
  text-decoration: none;
  color: #b0a08e;
}

.footer-icons {
  text-decoration: none;
}

/******************************
Tour-Dates sub-grid of .main-content
********************/

.card {
  display: flex;
  margin-bottom: 1em;
}

.card a {
  width: 100%;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  background: var(--overlay-color);
  color: white;
  transition: all 0.25s;
}

.card a:focus,
.card a:hover {
  margin: -5px 5px 5px -5px;
  box-shadow: 2px 2px 0px 0px var(--overlay-color);
}

.time {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.month {
  text-transform: uppercase;
  color: #0052bb;
}

.date {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

.tour h2 {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0.5em;
  padding-right: 0.5em;
  align-self: flex-end;
}

.info {
  grid-column: 2;
  grid-row: 2;
  /* padding-bottom: 1em; */
  align-self: flex-start;
  margin-right: 0.5em;
}

/**********************************************************************************
    HOME PAGE 600px and up
*****************************************************************************/

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    .tour {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .card {
      margin-bottom: 0;
    }

    .card a {
      display: grid;
      grid-template-columns: inherit;
      grid-template-rows: 1fr 1fr;
      padding: 0;
      text-align: center;
    }

    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "showcase showcase"
        "main-content main-content"
        "loginbox  sidebar"
        "streaming streaming"
        "footer-content footer-content";
    }

    /*------Footer-------------------------------
        -------------------------------------------*/

    .footer-content ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      /* border: #000 1px solid; */
      /* max-width: 50%; */
    }

    .footer-content ul li {
      margin: 2em 3em;
    }

    .footer-icons a {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .kards {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-content ul li {
    margin: 2em 5em;
  }

  .btn1:hover,
  .btn2:hover {
    border: transparent;
  }

  .btn3:hover,
  .btn4:hover {
    border: transparent;
  }

  /*
    .loginbox {
        margin-left: 2em;
    }
*/
}

/* Animated Navbar*/

:root {
  --menu-radius: rgba(0, 0, 10, 0.9);
  --menu-speed: 0.75s;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;

  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  background: var(--overlay-color);
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;

  height: 2px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  height: 2px;
  background: inherit;
  width: 100%;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  height: 100%;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--menu-radius);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* ANIMATED NAV-BAR 600px and up -------------------------------
  ---------------------------------------------*/
@media screen and (min-width: 600px) {
  .menu-wrap .menu > div > div > ul > li {
    position: sticky;
    /* float: right; */
    display: inline-block;
    color: var(--gold-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7em;
  }

  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: #fff;
    opacity: 0.7;
  }
}

/*END  ANIMATED NAVBAR-------------------------------------------------------------------------------------*/

/*-----------------------------------------
STORE PAGE MASTER-GRID
------------------------------------------*/

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  /*    background: #2B2E33;*/
}

/* Navigation */

.main-nav {
  background: url("../images/SC.png");
}

.main-nav ul {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  border: 1px solid transparent;
  margin: 2.5em 0;
}

.main-nav ul li:hover {
  border: 1px solid var(--gold-text);
  opacity: 0.7;
  transition: 0.6s ease-in;
}

.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.6em 1.3em;
  text-align: center;
  color: var(--gold-text);
  font-size: 1.1em;
  border-radius: 0.2em;
}

.main-nav a:hover {
  color: var(--gold-text);
  opacity: 0.7;
  transition: 1s ease;
}

/* Showcase */
.showbox {
  grid-area: showbox;
  min-height: 400px;
  background: url("../images/showcase-main.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.showbox h1 {
  font-size: 4em;
  font-weight: bolder;
  margin-bottom: 0;
  color: #ae1f25;
  background: var(--overlay-color);
}

.showbox .btn {
  margin-top: 1em;
}

.showbox .btn:hover {
  opacity: 0.7;
  transition: 1s ease;
}

.top-box {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
  text-align: center;
}

.top-box .concert {
  font-size: 3.5rem;
  /* background: var(--overlay-color); */
  padding: 0 2px;
}

.top-box-a {
  grid-area: top-box-a;
  background: url("../images/g-1.jpg") center center/cover;
  color: white;
}

.top-box-a .btn:hover {
  opacity: 0.7;
  transition: 1s ease;
}

.top-box-b .btn:hover {
  opacity: 0.7;
  transition: 1s ease;
}

.top-box-b {
  grid-area: top-box-b;
  background: url("../images/g-11.jpg") center center/cover;
  color: black;
}

.portfolio img {
  width: 100%;
}

/*accerssories box*/
.box {
  background: black;
  text-align: center;
  padding: 1.5rem 2rem;
  color: var(--gold-text);
}

.showbox h1 {
  font-size: 2.5rem;
}

.information .btn {
  display: block;
  text-align: center;
  margin: auto;
}

.info-btn {
  display: inline-block;
  border: none;
  background: black;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.info-btn:hover {
  opacity: 0.7;
}

.information {
  background: #ae1f25;
  color: #fff;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  padding: 1rem;
  text-align: center;
}

.footer-items {
  grid-area: footer-items;
  background: url("../images/SC.png");
}

.footer-items p {
  font-size: 10px;
  text-align: center;
  padding-bottom: 1em;
}

.footer-items ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em;
}

.footer-items ul {
  list-style-type: none;
}

.footer-items ul li a:hover {
  color: #000;
  opacity: 0.7;
  transition: 1s ease;
}

.footer-items ul li a {
  text-decoration: none;
  color: #b0a08e;
}

.footer-icons {
  text-decoration: none;
}

/*********************************************************
        STORE PAGE    600px and up 
***************************************************/

@media screen and (min-width: 600px) {
  .kards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .kards a {
    margin-bottom: 0;
  }

  .pics {
    display: grid;
  }

  .pics img,
  .caption {
    grid-column: 1;
    grid-row: 1;
  }

  .caption {
    display: flex;
    align-items: flex-end;
    opacity: 0;
  }

  a:hover .caption {
    opacity: 1;
  }

  .top-container {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "showbox showbox top-box-a"
      "showbox showbox top-box-b";
  }

  /* Portfolio */
  .portfolio {
    background: #fff;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .portfolio img:first-child {
    border: 1px solid #000;
  }

  .boxes {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* Info */

  .showbox h1 {
    font-size: 3.5rem;
  }

  .information {
    grid-template-columns: 1fr;
  }

  .information .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .information {
    background: #ae1f25;
    color: #fff;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }

  .footer-items ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* border: #000 1px solid; */
    /* max-width: 50%; */
  }

  .footer-items ul li {
    margin: 2em 3em;
  }

  .footer-icons a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .kards {
    grid-template-columns: repeat(4, 1fr);
  }

  .information {
    background: #ae1f25;
    color: #fff;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }

  /* Top Box */

  .top-box-a {
    grid-area: top-box-a;
  }

  .top-box-b {
    grid-area: top-box-b;
  }

  /* Boxes */
  .boxes {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .footer-items ul li {
    margin: 2em 7em;
  }

  /*END STORE PAGE-------------------------------------------------------------------------------------*/
}

/*----------------------------------------
GALLERY PAGE CSS
------------------------------------------



/*-------------------------------------------------------------
Gallery Block
--------------------------------------------------------------*/

.kards {
  margin: 1em;
  padding: 0;
  list-style-type: none;
}

.kards a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
}

.caption {
  padding: 1em;
  background: hsla(246, 40%, 30%, 0);
  color: white;
  font-size: 1.2em;
  transition: all 0.4s;
  opacity: 0;
}

a:focus .caption,
a:hover .caption {
  background: var(--overlay-color);
  opacity: 1;
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.1em;
}

@media screen and (min-width: 600px) {
  .footer-items ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* border: #000 1px solid; */
    /* max-width: 50%; */
  }

  .footer-items ul li {
    margin: 2em 3em;
  }

  .footer-icons a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .footer-items ul li {
    margin: 2em 7em;
  }
}

/*---------------------------------*/
