/*Photo by rawpixel.com from Pexels*/

/* Opacity Colors*/
:root {
    --menu-radius: rgba(0, 0, 10, .9);
    --overlay-color: rgba(0, 0, 10, .35);
    --showcase-color: rgba(0, 0, 10, .85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 1em;
    color: #B0A08E;



}

/* .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #B0A08E;
    line-height: 1.7em;
    letter-spacing: 2.5px;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 1.5em;
}

hr {
    display: block;
    border-color: #B0A08E;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-style: inset;
    border-width: 1px;
}

.btn {
    display: inline-block;
    border: none;
    background: black;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}

/*--privacy-policy--*/
#bg {
    display: flex;
    flex-direction: column;
    color: #888;
    font-size: .5em;
    padding: 1em;
    letter-spacing: 1px;
    text-align: center;

}


/****************************
Master grids
*****************************/

.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "showcase"
        "main-content"
        "instagram"
        "merch"
        "footer-content";

}

.showcase {
    grid-area: showcase;
    color: #fff;
    height: 100vh;
    position: relative;
    background: var(--showcase-color);
}

.showcase:before {
    content: '';
    background: url('../images/showcase-1.jpg') center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.showcase h1 {
    font-size: 63px;
}

.showcase h2 {
    margin-top: 1em;
}


.main-content {
    grid-area: main-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--overlay-color);

}

.instagram {
    grid-area: instagram;
    text-align: center;
    width: 100%;

}

.page-title {
    grid-area: page-title;
    border: #fff solid 2px;
}


.merch {
    grid-area: merch;
    background-color: var(--overlay-color);
    height: 100%;
}

.merch {}

.merch ul li a {
    display: inline-block;
    text-align: center;
    border: none;
    background: #B0A08E;
    padding: .25em;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    width: 35%;
    color: black;
    letter-spacing: 1.5px;
    border-radius: 2px;
}

.merch ul li a:hover {
    background-color: transparent;
    border: #B0A08E solid 1px;
    transition: 1s;
    color: #B0A08E;
}

.merch ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .5em;
    padding: 1.5em;
}

.instagram {
    grid-area: instagram;
    background-color: #fff;
    text-align: center;
    width: 100%;
    align-items: center;

}



/* .instagram {
    grid-area: instagram;
    background: url('../images/insta-1.jpg')no-repeat center center/cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;

} */

.instagram h1 {
    color: #000;
}



.footer-content {
    grid-area: footer-content;
    background: url('../images/SC.png');
}



.footer-items ul li a {

    color: #888;
    text-decoration: none;



}

.footer-items li {
    display: inline-block;
    padding: auto 1em;
    font-size: 1em;
    /* border: #fff solid 1px; */
    /* margin-top: 1em; */

}

.footer-content p {
    text-align: center;
    color: #fff;
    font-size: .5em;
    margin-bottom: 2em;
    letter-spacing: 2.5px;

}

/*******************************************
    sub-grid of .footer-content for nav-links
    **************************/

/* .footer-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "footer-items footer-items"
        "footer-items footer-items";
    text-align: center;
} */
/* .footer-items {
    grid-area: footer-items;
    border: #fff 1px solid;
} */

.footer-items ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "footer-items footer-items footer-items"
        "footer-items";
    text-align: center;
    margin: 20px 20px 0 20px;

    /* align-items: center; */
}

.footer-icons ul li a {

    color: #888;
    text-decoration: none;



}

.footer-icons li {
    /* display:flex;
    align-items: center;
    justify-content: space-evenly; */

        /* display: inline-block; */
    /* padding:  auto 1em; */
    font-size: 1.2em;
    border: #fff solid 1px;
    margin-top: 1em;


}

.footer-icons ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "footer-items footer-items footer-items";
    text-align: center;
    /* margin: 20px 20px 0 20px; */

    /* align-items: center; */
}


/*******************************************

/**************************************
    sub-grid of .merch for music buttons
    **************************/
.merch ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "buttons buttons"
        "buttons buttons";
    width: 100%;
    margin: 1em;
}

/***************************************/



/******************************
Tour-Dates sub-grid of .main-content
********************/



.card {
    display: flex;
    margin-bottom: 1em;
}

.card a {
    width: 100%;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    background: var(--showcase-color);
    color: white;
    transition: all .25s;
}


.card a:focus,
.card a:hover {
    margin: -5px 5px 5px -5px;
    box-shadow: 2px 2px 0px 0px var(--overlay-color);
}

.time {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.month {
    text-transform: uppercase;
    color: #0052BB;
}

.date {
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
}

.tour h2 {
    grid-column: 2;
    grid-row: 1;
    padding-top: .5em;
    padding-right: .5em;
    align-self: flex-end;
}

.info {
    grid-column: 2;
    grid-row: 2;
    /* padding-bottom: 1em; */
    align-self: flex-start;
    margin-right: .5em;
}

/**********************
Card-Grid
********************************/

.card a {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    text-align: left;
    /* border: #fff solid 2px; */
}

.card h2 {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;

}

.time {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.info {
    grid-column: 2;
    grid-row: 2;
}






/****************
    600px and up ****/
@media screen and (min-width: 600px) {

    .tour {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 0;
    }


    .site {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "showcase showcase"
            "main-content main-content"
            "merch instagram"
            "footer-content footer-content";

    }
}

/****************
    1024px and up ****/

@media screen and (min-width: 1024px) {

    .footer-icons li {
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    
            /* display: inline-block; */
        /* padding:  auto 1em; */
        font-size: 1.2em;
        border: #fff solid 1px;
        margin-top: 1em;
    
    
    }
}









/* ---------------end-of-600px--------------------------- */