/* Photo Credits
  Photo by Abigail Keenan on Unsplash
  Photo by Danijela Froki on Unsplash
  Photo by Willian Justen de Vasconcellos on Unsplash
  Photo by Noelle Otto from Pexels
  Photo by Digital Buggu from Pexels
  Photo by Markus Spiske temporausch.com from Pexels
  Photo by Craig Adderley from Pexels
  Photo by Mike from Pexels
  Photo by Thomas Chauke from Pexels
  Photo by Zac Frith from Pexels
  Photo by Serkan Göktay from Pexels
*/

/* MYU Pallet */
:root {
  --hover-red: rgb(234, 25, 25);
  --charcoal: rgb(67, 62, 73);
  --sky: rgb(177, 221, 241);
  --green: rgb(68, 175, 105);
  --rust: rgb(209, 122, 34);
  --overlay-color: rgba(20, 7, 13, 0.35);
  --opacity: hsla(246, 40%, 30%, 0);
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #fff;
  background-color: --hover-red: rgb(234, 25, 25);
}

/* .btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
} */

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: var(--hover-red);
  color: #f4f4f4;
}

.bg-main {
  background: var(--hover-red);
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 4rem;
  background: var(--hover-red);
  display: block;
  margin: 0 auto 1rem auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); */
}

.item {
  position: relative;
  background: var(--hover-red);
  overflow: hidden;
}

.item::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}

.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}



#main-nav {
  overflow: hidden;
  display: block;
  justify-content: space-between;
  padding-top: 1rem;
}

#main-nav  ul {
  display: block;
  float: right;
}

#main-nav  li {
  padding: 1rem 1.5rem;
}

#main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
  

#main-nav  a:hover {
  border-color: #ccc;
}

#main-nav  a.current {
  border-color: red;
}



#header-home {
  background: url("img/Header-1.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}

#header-home .header-content {
  text-align: center;
  padding-top: 20%;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#header-inner {
  background: url("/img/Header-1.jpg") no-repeat 20% 10%/cover;
  height: 5.5rem;
  border-bottom: 2px solid var(--hover-red);
}

/* .topnav {
  overflow: hidden;
  background-color: #5D4D55;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #D6E5E3;
  color: black;
}

.active {
  background-color: #A1869E;
  color: white;
}

.topnav .icon {
  display: none;
} */


#home-b .stats {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

#home-b .stats li {
  line-height: 2;
}

#home-b .stats li.stats-title {
  font-size: 2rem;
  font-weight: bold;
}

#home-b .stats div {
  padding: 3rem 0;
}

#home-b .stats div:nth-child(odd) {
  background: #f4f4f4;
}

#home-b .stats div:nth-child(even) {
  background: #ccc;
}

/* animation for sec C Testimonials - Coaching Page */
#home-c .process {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
  text-align: center;
}

#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: red;
  color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 1rem;
  transition: all 1s;
}

#home-c .process-icon {
  border-radius: 50%;
  background: #333;
  color: #fff;
  padding: 2rem;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

#home-c .process-icon:hover {
  background: red;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

#home-c .process-icon:hover .process-step {
  background: #333;
  color: #fff;
}

#home-c .container {
  display: grid;
  grid-template-columns: 1fr;

}

#home-c .container li {
  line-height: 2rem;
  text-align: center;
}

#home-c img {
  width: 70%;
  margin: auto;
}

/* #home-c img-2{
        width: 70%;
        margin: auto;
      } */

.loginbox {
  width: 50%;
  margin: auto;
  padding: 4em 0;
  font-size: 0.9em;
}


.loginbox p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #000;
}

.loginbox input {
  width: 100%;
  margin-bottom: 15px;
}

.loginbox input[type="text"],
input[type="name"] {
  border: none;
  border-bottom: 0.5px solid#888;
  background: transparent;
  outline: none;
  /* height: 40px; */
  color: #000;
  font-size: 0.8em;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 2rem;
  background: var(--gold-text);
  font-size: 0.9em;
  border-radius: 7px;
  color: #000;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: var(--hover-red);
  border: #b0a08e 1px solid;
  color: #fff;
}

/* ABOUT PAGE---------------------------------
-------------------------------------------- */

#about-a .about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio''aw1 aw2 aw3';
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  grid-area: bioimage;
}

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid var(--hover-red);
  padding: 7rem 0.8rem;
}

/* #about-a .award-1 {
  grid-area: aw1;
}

#about-a .award-2 {
  grid-area: aw2;
}

#about-a .award-3 {
  grid-area: aw3;
} */

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: var(--hover-red);
  margin: 1rem;
}

#about-b .progress {
  overflow: hidden;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}

#about-b .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: var(--hover-red);
}

#about-c .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#about-c .about-logos img {
  width: 70%;
}

#about-d .testimonials {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 50rem;
  margin: auto;
  /* grid-gap: 0.5rem; */
}

#about-d .testimonials .far {
  padding: 0 1rem;
  color: var(--hover-red);
}

#about-d .testimonials ul {
  font-weight: bold;
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#about-d .testimonials p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

/* #about-d .testimonials .fas {
  padding: 0 1rem;
  color: var(--hover-red);
} */

/* coaching PAGE---------------------------------
-------------------------------------------- */

#coaching-a .coaching-info ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
}

#coaching-a .coach {
  grid-area: coach;
  border-left: 3px solid var(--hover-red);
  padding: 7rem 0.8rem;
}

/*-------------------------------------------------------------
Gallery Block
--------------------------------------------------------------*/

.MYU-pics {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;
  padding: 0;
  list-style-type: none;
  grid-gap: 1rem;
}

.MYU-pics a {
  display: block;
  /* margin-bottom: 1rem; */
  text-decoration: none;
}

.caption {
  padding: 1em;
  background: hsla(246, 40%, 30%, 0);
  color: white;
  font-size: 1.2em;
  transition: all 0.4s;
  opacity: 0;
}

a:focus .caption,
a:hover .caption {
  background: var(--overlay-color);
  opacity: 1;
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.1em;
}

#main-footer {
  background: var(--charcoal);
  color: #fff;
  height: 5rem;
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

#main-footer .footer-content p {
  font-size: .7rem;
}

#main-footer .footer-content .social .fab {
  margin-right: 1rem;
  border: 2px solid var(--sky);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

#main-footer .footer-content .social .fab:hover {
  background: var(--hover-red);
}

/* ------------------------------------------------
MEDIA QUERIES
------------------------------------------------- */
@media screen and (min-width: 600px) {
  #main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  #main-nav ul {
    display: flex;
  }

  #main-nav li {
    padding: 1rem 1.5rem;
  }

  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
  }

  #main-nav a:hover {
    border-color: #ccc;
  }

  #main-nav a.current {
    border-color: red;
  }

  .MYU-pics {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 1em;
    padding: 0;
    list-style-type: none;
    grid-gap: 1rem;
  }

  .pics {
    display: grid;
  }

  .pics img,
  .caption {
    grid-column: 1;
    grid-row: 1;
  }

  .caption {
    display: flex;
    align-items: flex-end;
    opacity: 0;
  }

  a:hover .caption {
    opacity: 1;
  }






  @media screen and (min-width: 1200px) {
    .MYU-pics {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      /*If navigation button is off, fix padding here after styling text*/
      /*padding: 17.25px 17px;*/

    }

    .topnav a.icon {
      display: block;
      height: auto;
      width: auto;
      /*If navigation button is off, fix padding here after styling text*/
      /*padding: 17.25px 17px;*/
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /*---------------------------------*/