/* 
Note This code has been adapted from this W3Schools Example: 
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
*/

/* MYU Pallet */
:root {
  --hover-red: rgb(234, 25, 25);
  --charcoal: rgba(19, 17, 17, 1);
  --sky: rgb(177, 221, 241);
  --skyOpacity: rgba(177, 221, 241, 0.45);
  --green: rgb(68, 175, 105);
  --rust: rgb(209, 122, 34);
  --overlay-color: rgba(20, 7, 13, 0.35);
  --opacity: hsla(246, 40%, 30%, 0);
}


.topnav .dropburger {
  display: none;
}

#header-home .topnav {
  background-color:transparent;
}

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: var(--charcoal);
  /* padding-top: 3rem; */
  /* height: 5rem; */
  
}

.topnav ul {
  display: flex;
  /* border: #fff solid 2px; */
}

.topnav ul li {
  padding: 1rem 1.5rem;
  position: relative;
  /* border: #fff solid 2px; */
}

.topnav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: .5rem;
  transition: border-color 0.5s;
}

/* drop-down nav from HOME */
.topnav ul li ul {
  display: none;
  position: absolute;
  background-color: var(--skyOpacity);
  padding: 0;
  float: left;
  margin: 0;
  color: rgb(100, 129, 100);
  padding: 0;
  
}

.topnav ul:hover li ul {
  display: block;
  
}

.topnav ul li ul li {
  padding: .5rem 0;
  width: 100px;
}

.topnav ul li ul li a:hover {
  color: #fff;
}

.topnav ul li ul li a {
  border-bottom: none;
  color: var(--charcoal);
  text-transform: lowercase;
}

.topnav a:hover {
  border-color: #ccc;
}

.topnav a.current {
  border-color: red;
}

.topnav .icon {
  display: none;
}


/*media queries
*******************************************************************/

@media screen and (max-width: 600px) {

  /* .topnav.responsive{
    background-color: aquamarine;

  } */

  
  .topnav a {
    display: none;

  }

  .topnav li {
    margin: 0;
    padding: 0;
  }

  .topnav ul {
    display: block;
  }

  .topnav a.icon {

    float: right;
    display: block;
    border-bottom: hidden;
    margin-top: 1rem;
    color: #fff; 
    margin-right: 1rem;
    padding: 0;
  }

  #header-home .topnav a.icon {
    padding: 0;
  }

  .topnav.responsive li {
    position: relative;
    margin: 1rem 5rem;
    padding: 0 1rem;
  }

  .topnav.responsive ul {
    background-color: transparent;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*If navigation button is off, fix padding here after styling text*/
    padding: 8px 8px;

  }
 
  #header-home .icon {
    position: absolute;
    right:.5rem;
    top:.5rem;
  } 

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


  /*----------------------------------------
   drop-down nav from HOME 
  ----------------------------------------*/
  
  .topnav ul:hover li ul {
    display: none;
  }

  .topnav .dropburger {
    display: block;
  }
  .topnav .dropburger a{
    color: #888;
    font-style: oblique;
    text-transform: lowercase;
  }

}