
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700");



body {
    font-family: "Muli", sans-serif;
    margin: 1em;
    line-height: 1.5;
}

p {
    margin-bottom: 1.5em;
}



.site {
    display: grid;
    grid-gap: 1em;

    grid-template-columns: 1fr;
    /*    grid-template-rows:;*/
    grid-template-areas:
        "topnave"
        "showcase"
        "top-box"
        "main"
        "sidebar"
        "footer";
}


.showcase,
.top-box,
.main-content,
.sidebar,
.footer-content {
    padding: 1em;
 
}
h1, h2, h3, h4, h5 {
    text-align: center;
}
h3 {
    text-align: right;
}



.showcase {
    grid-area: showcase;
    background-color: #75DBCD;
    color: #fff;
}

.top-box {
    grid-area: top-box;
/*    background-color: #D6E5E3;*/
   background: url(images/skate-1.jpg) no-repeat center 30%/cover;
    text-align: right;
    color: #fff;

       
   
}

.main-content {
    grid-area: main;
    background-color: #fde8e9;
    
}

.sidebar {
    grid-area: sidebar;
    background-color: #99B2DD;
}

.footer-content {
    grid-area: footer;
    background-color: #5D4D55;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}


@media only screen and (min-width: 600px) {
    .site {

        display: grid;
        grid-gap: 1em;

        grid-template-columns: 1fr 1fr;
    }


    .showcase {
        grid-column: 1/3;
    }

    .top-box {
        grid-column: 2/3;
    }

    .main-content {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .sidebar {
        grid-column: 1/3;
        /*        grid-row: 3/4*/
    }

    .footer {
        grid-column: 1/3;

    }
    
}



*/
