/* Coolors Exported Palette - coolors.co/5d4d55-fde8e9-75dbcd-d6e5e3-99b2dd */

/* HSL */
$footer: hsla(330%, 9%, 33%, 1);
$main: hsla(357%, 84%, 95%, 1);
$showcase: hsla(172%, 59%, 66%, 1);
$top-box: hsla(172%, 22%, 87%, 1);
$sidebar: hsla(218%, 50%, 73%, 1);

/* RGB */
$footer: rgba(93, 77, 85, 1);
$main: rgba(253, 232, 233, 1);
$showcase: rgba(117, 219, 205, 1);
$top-box: rgba(214, 229, 227, 1);
$sidebar: rgba(153, 178, 221, 1);